.icon-wrapper {
  width: 80px;
  height: 80px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

p {
  font-weight: bold;
  color: #333;
}
