<div class="container mt-4">
    <h2 class="fw-bold">Select Services</h2>
    <!-- Services List -->
    <div class="d-flex  gap-5 ">
        <div class="col-md-7 ">
            <service-list [services]="salonDetails.services" [buttonType]="'add'"
                          [seeAll]="false"
                          [title]="'Services'"
                          (onServiceSelect)="addService($event)"
                          (onServiceRemove)="removeService($event)"
            ></service-list>
        </div>
        <!-- Cart Section -->
        <div>
            <salon-cart [addedServices]="cartServices "></salon-cart>
        </div>
    </div>
</div>
