@import "src/styles/variables";

.salon-card {
  margin-bottom: 60px;

  .salon-card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .salon-card-content p {
    font-size: 1em;
    color: #555;
  }


  .salon-card-image {
    height: 200px;
  }

  .salon-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .deal-chip {
    background-color: $ExtraLightBackgroundGrey;
    color:  $HighContrastCharcoal;
    padding: 4px 12px;
    border-radius: 20px;
    border-color:  $HighContrastCharcoal}
}