<div class="container">
    <div class="row">
        <div class="custom-card">
            <mat-form-field appearance="outline" class="trt">
                   <mat-label>Treatment</mat-label>
                    <input
                            type="text"
                            matInput
                            [formControl]="treatmentControl"
                            [matAutocomplete]="autoTreatment"
                    />
                    <mat-autocomplete
                        #autoTreatment="matAutocomplete"
                        (optionSelected)="onOptionSelected($event)"
                    >
                        <mat-option *ngFor="let treatment of filteredTreatments | async" [value]="treatment">
                            {{ treatment }}
                        </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="loc">
                <mat-label>Location</mat-label>
                <input
                        type="text"
                        matInput
                        [formControl]="locationControl"
                        [matAutocomplete]="autoLocation"
                />
                <mat-autocomplete
                    #autoLocation="matAutocomplete"
                    (optionSelected)="onLocationSelected($event)"
                >
                    <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
                        {{ location }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="date">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="time">
                <mat-label>Time</mat-label>
                <mat-select formControlName="time">
                    <mat-option *ngFor="let time of timeList" [value]="time">
                        {{ time }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-raised-button class="custom-button" (click)="onSearch()">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="carousel-container">
    <div class="card-container">

        <div  (click)="redirectToDetails(card.id)" class="card" *ngFor="let card of cards">

            <img mat-card-image [src]="card.imageUrls" [alt]="card.address">
            <div class="card-content">
                <h3 class="card-title">{{ card.name }}</h3>
                <p class="card-description">{{ card.address }}</p>
            </div>
        </div>
    </div>
</div>
