<div class="d-flex justify-content-center">
    <div class="bus-type">
        <div class="container mt-4">
            <div class="row g-3">
                <div class="col-md-3 col-sm-4 col-6" *ngFor="let category of categories"
                     (click)="selectCategory(category)">
<!--                    {{selectedCategories.includes(category)}}-->
<!--                    {{selectedCategories[0].typeId}}-->
<!--                    <div class="category-box" [class.selected]="selectedCategories.includes(category)">
                        <div class="icon">
                            <i [class]="category.icon"></i>
                        </div>
                        <p>{{ category.name }}</p>
                        <div class="checkmark" *ngIf="selectedCategories.includes(category)">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                    </div>-->
                    <div class="category-box" [class.selected]="selectCategories(category)">
                        <div class="icon">
                            <i [class]="category.icon"></i>
                        </div>
                        <p>{{ category.name }}</p>
                        <div class="checkmark" *ngIf="selectedCategories.includes(category)">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Show input field when 'Other' is selected -->
            <div *ngIf="isOtherSelected()" class="mt-3">
                <label class="form-label">Other business type</label>
                <input type="text" class="form-control" (input)="updateOtherCategory($event)">
            </div>
        </div>
    </div>
</div>