<div class="online-bk d-flex align-items-center">
    <div class="w-50">
        <img [src]="imageUrl" alt="Online Booking" class="img-fluid">
    </div>
    <div class="w-50">
        <h2 class="fw-bold fs-1 mb-3 text-orange">Online Booking</h2>
        <h3 class="fw-bold fs-3 mb-4">Grow sales by attracting new clients online</h3>
        <p class="fs-5">Be seen, be available, build your brand online. Create an online profile on our marketplace to get noticed by thousands of potential clients in your area.</p>
        <p class="fs-5">From your social feed to your door - add unlimited Book now buttons to your Instagram and Facebook pages so new or existing clients can book instantly online.</p>
        <div class="list-unstyled fs-5">
            <div class="d-flex align-items-center mb-2 ">
                <svg  class="tick mr-2 text-success fs-1 " fill="currentColor" viewBox="0 0 32 32">
                    <path  d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0"></path>
                </svg>
               <p class="ps-4"> Attract and retain clients</p>
            </div>
            <div class="d-flex align-items-center mb-2 ">
                <svg  class="tick mr-2 text-success " fill="currentColor" viewBox="0 0 32 32">
                    <path  d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0" ></path>
                </svg>
                <p class="ps-4"> Online self-booking</p>
            </div>
            <div class="d-flex align-items-center ">
                <svg  class="tick mr-2 text-success  " fill="currentColor"  viewBox="0 0 32 32">
                    <path  d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0" ></path>
                </svg>
                <p class="ps-4">Get trusted ratings and reviews</p>
            </div>
        </div>
    </div>
</div>
