<div class="p-3 business-location-address">
    <!--    <div class="text-center mt-3">-->
    <!--        <div class="text-secondary">Add a new location</div>-->
    <!--        <div class="fw-bold fs-3 mb-4">About your location</div>-->
    <!--    </div>-->

    <div class="business-location bg-white border rounded px-3 py-2 fw-semibold fs-14 ">
        <div class="pb-2">Business location</div>
        <div class="divider mb-3" ></div>

        <div class="business-location">
            <label class="input-label fw-bold">Where is your business located?</label>
            <!--<input formControlName="businessName" id="businessName" name="title"
                   class="app-text-box form-control" maxlength="200">-->
            <div class="w-100">
                <input type="text" class="app-text-box form-control w-100"
                       matInput [formControl]="searchControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let location of suggestions | async" [value]="location"
                                (click)="selectSuggestion(location, $event)">
                        {{ location.description }}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="location mt-3 bg-white border rounded p-3 w-100 fw-semibold" *ngIf="isAddressAvailable">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Address</div>
                        <div class="description fw-medium fs-16">{{ selectedLocationDetails.address }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Apt./Suite etc</div>
                        <div class="description fw-medium fs-16">
                            <a class="clr-green animated-link" (click)="openEditAddressModal()">+Add</a>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-between">
                        <div>
                            <div class="fw-semibold fs-16">District</div>
                            <div class="description fw-medium fs-16">{{ selectedLocationDetails.district }}</div>
                        </div>
                        <div class="fw-bold fs-5 ">
                            <a class="animated-link clr-green" (click)="openEditAddressModal()">Edit</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">City</div>
                        <div class="description fw-medium fs-16">{{ selectedLocationDetails.city }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Region</div>
                        <div class="description fw-medium fs-16">
                            {{selectedLocationDetails.state}}, {{selectedLocationDetails.subDivision}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Postcode</div>
                        <div class="description fw-medium fs-16">{{selectedLocationDetails.postCode}}</div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Country</div>
                        <div class="description fw-medium fs-16">{{selectedLocationDetails.country}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="fw-semibold fs-16">Direction</div>
                        <div class="description fw-medium fs-16">
                            <a class="clr-green animated-link" (click)="openEditAddressModal()">+Add</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <mat-checkbox>I don't have a business address (mobile and online service only)</mat-checkbox>
            </div>
        </div>
    </div>

    <div class="map mt-4" [hidden]="!isAddressAvailable">
        <div class="map-location bg-white border rounded p-3 fw-semibold fs-14">
            Map location
            <div class="input-label fw-bold">Drag the map so the pin matches the exact location of your business
                location.
            </div>
            <div class="divider"></div>

            <div id="map" class="map-section"></div>
        </div>
    </div>

    <div class="business-location bg-white border rounded p-3 fw-semibold fs-16 mt-4">
        Billing details for clients sale
        <div class="description fs-18 fw-medium">
            These details will appear on the client’s sale receipt for this location as well as the information you’ve
            configured in your
            <span class="clr-blue">Receipt Template</span> settings.
        </div>
        <div class="divider"></div>

        <div class="business-location">
            <div class="location mt-3 bg-white border rounded p-3 fw-semibold">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="fw-semibold fs-16">Business location name</div>
                        <div class="description fw-medium fs-16">{{businessBillingDetails?.businessLocName}}</div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <a class="animated-link clr-green fw-bold fs-5" (click)="openEditBillingDetailsModal()">Edit</a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="fw-semibold fs-16">Address</div>
                        <div class="description fw-medium fs-16">{{selectedLocationDetails?.address}}
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="fw-semibold fs-16">Note</div>
                        <div class="description fw-medium fs-16">
                            <a class="clr-green animated-link" (click)="openEditBillingDetailsModal()">+Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
