@import '../../../styles/variables';

::ng-deep .app-dark-mode {
  app-pinned-menu {
    background: $CPDark !important;
    border-right: none;

    .dashboard-menu.pinned-menu {
      background: $CPDark !important;

      .menu-section {
        background: $CPDark !important;
      }

      .a-menu {
        .material-symbols-rounded {
          background: $CPDarkLightBG !important;
        }

        &:hover, &.active {
          background: $CPDarkLightBG !important;
        }
      }
    }
  }
}

.dashboard-menu.pinned-menu {
  width: 0;
  background: #fff;
  transform: translateX(-400px);
  transition: all .3s ease-in-out;
  color: $TextGrey;

  .mat-expansion-panel-header {
    font-size: 16px;
  }

  .menu-section {
    max-height: calc(100vh - 153px);
    overflow-y: auto;
    background: white;
    height: 100%;
    border: 1px solid $LightBackgroundGrey;
    border-radius: 4px;
  }

  &.opened {
    width: 270px;
    transform: translateX(0);
    background: $ExtraLightBackgroundGrey;
    border-right: 1px solid $LightBackgroundGrey;
    height: 100%;
    padding: 8px 0;


    @include below-tablet {
      position: absolute;
      z-index: 999;
      width: 100%;
      height: calc(100% - 70px);
    }

  }

  .search-box {
    margin: 0 16px;
  }

  input.app-text-box {
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    border: none;
  }

  .icon-search {
    font-size: 22px;
    position: absolute;
    top: 11px;
    left: 6px;
    cursor: pointer;
  }

  .top-section {
    margin: 22px 0 16px 8px;

    .icon-menu {
      color: $CPPrimary;
      font-size: 1.25rem;

      &:hover {
        background: $ExtraLightBackgroundGrey;
        cursor: pointer;
      }
    }
  }

  .a-menu {
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    line-height: 2.5;
    transition: all .2s ease-in-out;
    font-family: $CPLightRegularFont;
    padding-left: 8px;

    .material-symbols-rounded {
      font-size: 22px;
      padding: 8px 8px 7px 8px;
      border-radius: 4px;
      margin: 6px 0;
      transition: all .2s ease-in-out;
      background: $ExtraLightBackgroundGrey;
    }

    &:hover, &.active {
      border-radius: 4px;
      color: $CPPrimary;
      background: $ExtraLightBackgroundGrey;

      .material-symbols-rounded {
        background: $CPPrimary;
        color: white;
      }
    }
  }
}
