<div class="business-setup mt-5">
    <div class="p-4 position-relative">
        <!-- Header Section -->
        <div class="d-flex justify-content-between align-items-center">
            <!-- Previous Button (Appears from Step 2 onwards) -->
            <button *ngIf="step > 1" (click)="prevStep()" class="btn btn-secondary">
                Previous
            </button>

            <!-- Spacer to push Next button to the right when on Step 1 -->
            <div class="flex-grow-1"></div>

            <!-- Next/Submit Button (Always on Right) -->
            <button class="btn btn-primary" (click)="nextStep()" *ngIf="step < 3">
                Next step
            </button>
            <button class="btn btn-success" (click)="submitForm()" *ngIf="step === 3">
                Submit
            </button>
        </div>

        <!-- Progress Bar -->
        <div class="progress mt-4 custom-progress">
            <div class="progress-bar" role="progressbar"
                 [style.width.%]="getProgress()"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>


        <!-- Title & Subtitle -->
        <div class="text-center flex-grow-1">
            <p class="text-secondary">Add a new location</p>
            <p class="fw-bold h5">
                {{ getStepTitle() }}
            </p>
        </div>

        <!-- Step Content -->
        <div class="mt-4">
            <div *ngIf="step === 1">
                <business-location-details></business-location-details>
            </div>

            <div *ngIf="step === 2">
                <business-type [multiSelect]="false"></business-type>
            </div>

            <div *ngIf="step === 3">
                <business-type [multiSelect]="true"></business-type>
            </div>
        </div>
    </div>
</div>

<!--<business-location-details></business-location-details>-->
<!--<div class="text-center mt-5">-->
<!--    <div class="text-secondary">Add a new location</div>-->
<!--    <div class="section-heading fw-bold">Choose your main business type</div>-->
<!--</div>-->
<!--<business-type [multiSelect]="false"></business-type>-->
<!--<div class="text-center mt-5">-->
<!--    <div class="text-secondary">Add a new location</div>-->
<!--    <div class="section-heading fw-bold">Choose your secondary business types</div>-->
<!--</div>-->
<!--<business-type [multiSelect]="true"></business-type>-->
