<div class="d-flex">
    <!-- Sidebar -->
    <div class="d-flex flex-column p-3 border-end" style="width: 250px; min-height: 100vh;">
        <p class="fw-bold">Catalog</p>
        <a href="#" class="d-block py-2 text-decoration-none active">Service menu</a>
        <a href="#" class="d-block py-2 text-decoration-none">Memberships</a>
        <a href="#" class="d-block py-2 text-decoration-none">Products</a>
        <p class="fw-bold mt-3">Inventory</p>
        <a href="#" class="d-block py-2 text-decoration-none">Stocktakes</a>
        <a href="#" class="d-block py-2 text-decoration-none">Stock orders</a>
        <a href="#" class="d-block py-2 text-decoration-none">Suppliers</a>
    </div>
    <div class="container">
        <!-- Main Content -->
        <div class="flex-grow-1 p-4">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="fw-bold">Service menu</h3>
                <div class="d-flex gap-2">
                    <button class="app-button-primary">Options</button>
                    <button class="app-button-primary">Add</button>
                </div>
            </div>
            <p>View and manage the services offered by your business. <a href="#" class="text-primary">Learn more</a>
            </p>

            <!-- Search and Filters -->
            <div class="filter d-flex gap-2">
                <input type="text" class="form-control" placeholder="Search service name">
                <button class="app-button-primary mt-1 mb-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M7 4a1 1 0 0 1 1 1v11h2a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2h2V5a1 1 0 0 1 1-1m9 0a1 1 0 0 1 1 1v5h2a1 1 0 1 1 0 2h-6a1 1 0 1 1 0-2h2V5a1 1 0 0 1 1-1m9 0a1 1 0 0 1 1 1v15h2a1 1 0 1 1 0 2h-6a1 1 0 1 1 0-2h2V5a1 1 0 0 1 1-1m-9 10a1 1 0 0 1 1 1v12a1 1 0 1 1-2 0V15a1 1 0 0 1 1-1m-9 6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m18 4a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1"/>
                    </svg>
                </button>
                <button class=" mng app-button-primary">Manage order</button>
            </div>

            <!-- Categories -->
            <div class="d-flex">
                <div class="p-3 border rounded me-4 w-25" >
                    <div class="section-heading-h3 fw-bold mb-3">Categories</div>
                    <div class="py-2 px-3 d-flex align-items-center justify-content-between"
                         [ngClass]="{'activeCategory': category.active}"
                         (click)="selectCategory(category)"
                         *ngFor="let category of categories">
                        <div>{{category.name}}</div>
                        <div> ({{category.count}})</div>
                    </div>
                </div>

                <!-- Services List -->
                <div class="w-75">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="fw-bold">{{selectedCategory.name}}</h5>
                        <button class="app-button-secondary">Actions</button>
                    </div>
                    <div *ngFor="let service of selectedCategory.services"
                            class="border rounded p-3 my-2 d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold mb-3">{{service.name}}</div>
                            <small>{{service.duration}}</small>
                        </div>
                        <div class="fw-bold">{{service.price}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
