<div class="container mt-4 pb-5">
    <div class="heading-section">
        <div class="d-flex justify-content-end mb-4">
            <button class="app-button-secondary me-4">Close</button>
            <button class="app-button-primary">Save</button>
        </div>
        <div class="section-heading-h2 fw-bold fs-1">Add Team Member</div>
    </div>

    <div class="details-section d-flex gap-5">
        <!-- Left Menu -->
        <div class="left-section h-100 w-25 bg-white border rounded p-3 mt-3">
            <div class="fw-bold text-dark px-3 py-2">Personal</div>
            <div *ngFor="let detail of personal"
                 class="py-2 px-3 d-flex align-items-center justify-content-between rounded"
                 [ngClass]="{'active-details': detail.active}"
                 (click)="selectDetails(detail)">
                <div>{{ detail.name }}</div>
            </div>

            <hr class="my-2">
            <div class="fw-bold text-dark px-3 py-2">Workspace</div>
            <div *ngFor="let setting of workspace"
                 class="py-2 px-3 d-flex align-items-center justify-content-between rounded"
                 [ngClass]="{'active-details': setting.active}"
                 (click)="selectDetails(setting)">
                <div>{{ setting.name }}</div>
            </div>

            <hr class="my-2">
            <div class="fw-bold text-dark px-3 py-2">Pay</div>
            <div *ngFor="let setting of pay"
                 class="py-2 px-3 d-flex align-items-center justify-content-between rounded"
                 [ngClass]="{'active-details': setting.active}"
                 (click)="selectDetails(setting)">
                <div>{{ setting.name }}</div>
            </div>
        </div>

        <!-- Right Section: Dynamic Content -->
        <div class="right-section w-75">
            <div class="section-heading-h3 fw-bold fs-4 mt-3 ms-5">{{ selectedDetail.name }}</div>

            <!-- Profile Section -->
            <div *ngIf="selectedDetail?.name === 'Profile'" class="ms-5">
                <p class="clr-grey">Manage your team member's personal profile</p>
                <div class="d-flex align-items-center">
                    <button class="profile btn btn-light position-relative rounded-circle p-3 border-0">
                        <svg width="150" height="150" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M28.865 26.5c-1.904-3.291-4.837-5.651-8.261-6.77a9 9 0 1 0-9.208 0c-3.424 1.117-6.357 3.477-8.261 6.77a1 1 0 1 0 1.731 1C7.221 23.43 11.384 21 16 21s8.779 2.43 11.134 6.5A1.001 1.001 0 0 0 29 26.872a1 1 0 0 0-.136-.372M9 12a7 7 0 1 1 7 7 7.01 7.01 0 0 1-7-7"/>
                        </svg>
                    </button>
                </div>

                <!-- First Name and Last Name -->
                <div class="row mt-4">
                    <div class="col-md-5">
                        <label class="fw-bold">First Name*</label>
                        <input class="form-control form-control-lg" type="text">
                    </div>
                    <div class="col-md-5">
                        <label class="fw-bold">Last Name*</label>
                        <input class="form-control form-control-lg" type="text">
                    </div>
                </div>

                <!-- Email and Phone Number Section -->
                <div class="row mt-4">
                    <!-- Email -->
                    <div class="col-md-5" *ngIf="true"> <!-- Adjust condition if needed -->
                        <div class="form-group">
                            <label class="fw-bold" for="email">Email*</label>
                            <input formControlName="email" id="email" name="email"
                                   class="form-control form-control-lg" maxlength="200"
                                   [ngClass]="{ 'is-invalid': submitted && fmp.email.errors }"
                                   type="text"/>
                            <div *ngIf="submitted && fmp.email.errors" class="invalid-feedback">
                                <div *ngIf="fmp.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="col-md-5" *ngIf="showPhoneNumber">
                        <div class="form-group">
                            <label class="fw-bold">Phone number</label>
                            <div class="d-flex">
                                <select class="form-select w-25">
                                    <option selected>+91</option>
                                    <option>+1</option>
                                    <option>+44</option>
                                </select>
                                <input formControlName="phoneNumber" name="phoneNumber"
                                       class="form-control form-control-lg ms-2" maxlength="15"
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Additional Phone Number and Country -->
                <div class="row mt-4">
                    <!-- Additional Phone Number -->
                    <div class="col-md-5" *ngIf="true">
                        <div class="form-group">
                            <label class="fw-bold">Additional phone number</label>
                            <div class="d-flex">
                                <select class="form-select w-25">
                                    <option selected>+91</option>
                                    <option>+1</option>
                                    <option>+44</option>
                                </select>
                                <input formControlName="additionalPhoneNumber" name="additionalPhoneNumber"
                                       class="form-control form-control-lg ms-2" maxlength="15"
                                       type="text"/>
                            </div>
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="col-md-5">
                        <label for="countrySelect" class="form-label"><strong>Country</strong></label>
                        <select id="countrySelect" class="form-select" [(ngModel)]="selectedCountry">
                            <option value="" disabled selected>Select country</option>
                            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                        </select>
                    </div>
                </div>

                <!-- Birthday and Year -->
                <div class="row mt-4">
                    <!-- Birthday -->
                    <div class="col-md-3">
                        <label for="birthday" class="form-label"><strong>Birthday</strong></label>
                        <input *ngIf="showBirthday" type="date" id="birthday" class="form-control">
                    </div>

                    <!-- Year -->
                    <div class="col-md-2">
                        <label for="year" class="form-label"><strong>Year</strong></label>
                        <input *ngIf="showYear" type="number" id="year" class="form-control" placeholder="Year"
                               min="1900">
                    </div>

                    <!-- Calendar Color -->
                    <div class="container mt-3">
                        <label class="form-label"><strong>Calendar color</strong></label>
                        <div class="d-flex flex-wrap">
                            <div *ngFor="let color of colors"
                                 class="color-circle"
                                 [ngStyle]="{'background-color': color}"
                                 [ngClass]="{'selected': selectedColor === color}"
                                 (click)="selectColor(color)">
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="w-100">

                <!-- Job Title -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold" for="businessName">Job Title</label>
                            <input formControlName="businessName" id="businessName" name="title"
                                   class="app-text-box form-control" maxlength="200"
                                   [ngClass]="{ 'is-invalid': submitted && fmp.businessName.errors }"
                                   type="text"/>
                            <div *ngIf="submitted && fmp.businessName.errors" class="invalid-feedback">
                                <div *ngIf="fmp.businessName.errors.required">Title is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="clr-grey fw-lighter fs-16 pb-5">Visible to clients online</div>
                </div>

                <hr class="w-100">

                <!-- Work Details -->
                <div class="row mt-4">
                    <div class="section-heading-h3 fw-bold fs-5">Work Details</div>
                    <div class="clr-grey">Manage your team members' start date and employment details</div>

                    <!-- Start and End Dates -->
                    <div class="row mt-4">
                        <!-- Start -->
                        <div class="col-md-3">
                            <label for="birthday" class="form-label"><strong>Start date</strong></label>
                            <input *ngIf="showBirthday" type="date" id="start" class="form-control">
                        </div>

                        <!-- Year -->
                        <div class="col-md-2">
                            <label for="year" class="form-label"><strong>Year</strong></label>
                            <input *ngIf="showYear" type="number" id="syear" class="form-control" placeholder="Year"
                                   min="1900">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <!-- End -->
                        <div class="col-md-3">
                            <label for="birthday" class="form-label"><strong>End date</strong></label>
                            <input *ngIf="showBirthday" type="date" id="end" class="form-control">
                        </div>

                        <!-- Year -->
                        <div class="col-md-2">
                            <label for="year" class="form-label"><strong>Year</strong></label>
                            <input *ngIf="showYear" type="number" id="eyear" class="form-control" placeholder="Year"
                                   min="1900">
                        </div>
                    </div>

                    <!-- Employment Type and Team Member ID -->
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label class="form-label"><strong>Employment type</strong></label>
                            <select class="form-select">
                                <option selected disabled>Select an option</option>
                                <option *ngFor="let type of employmentTypes" [value]="type">{{ type }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Address Form -->
            <div *ngIf="selectedDetail?.name === 'Addresses'" class="mt-3 p-3 ">
                <div class="container mb-5">
                    <div class="text-secondary ">Manage your team member's correspondence addresses.</div>
                    <button class="btn btn-outline-secondary d-flex align-items-center">
                    <span class="me-2">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                    <path fill-rule="evenodd" d="M16 5C9.925 5 5 9.925 5 16s4.925 11 11 11 11-4.925 11-11S22.075 5 16 5M3 16C3 8.82 8.82 3 16 3s13 5.82 13 13-5.82 13-13 13S3 23.18 3 16m13-6a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4h-4a1 1 0 1 1 0-2h4v-4a1 1 0 0 1 1-1" clip-rule="evenodd"></path>
                    </svg>
                    </span>
                        Add an address
                    </button>
                </div>
            </div>

            <!-- Emergency Contacts Section -->
            <div *ngIf="selectedDetail?.name === 'Emergency Contacts'" class="mt-3 p-3 border rounded bg-white">
                <h4>Emergency Contacts</h4>
                <p>Manage emergency contacts for this team member.</p>
                <button class="btn btn-success">Add Contact</button>
            </div>

            <!-- Roles & Permissions -->
            <div *ngIf="selectedDetail?.name === 'Roles & Permissions'" class="mt-3 p-3 border rounded bg-white">
                <h4>Roles & Permissions</h4>
                <p>Manage roles and permissions for this team member.</p>
            </div>

            <!-- Compensation -->
            <div *ngIf="selectedDetail?.name === 'Compensation'" class="mt-3 p-3 border rounded bg-white">
                <h4>Compensation</h4>
                <p>Manage salary and benefits for this team member.</p>
            </div>
        </div>
    </div>
</div>
