<div class="sw-details d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center bg-dark text-white px-5 py-4 rounded-bottom-pill">
        <h1 class="hero-title">The #1 Software for Salons and Spas</h1>
        <h2 class="hero-subtitle">Simple, flexible and powerful booking software for your business</h2>
        <div class="hero-btn-wrapper mt-4">
            <a href="/user-flow" class="hero-button btn btn-primary" target="_self">
                <span class="button-label">Join</span>
            </a>
        </div>
        <img class="hero-image img-fluid mt-4" [src]="desktopImageUrl" alt="Fresha - Software for Salons and Spas">
    </div>
</div>
