

<div class="container mt-4 w-50">
    <form [formGroup]="businessLocationForm" class="user-profile-form" (ngSubmit)="onSubmitBusinessLocation()">
        <div class="bus-loc">
            <div class="card p-2">
                <div class=" section-heading-h2">Basics</div>
                <div class="divider"></div>
                <div class="w-100 mt-3">
                    <div class="form-group mb-2">
                        <label class="input-label fw-bold">Location Name</label>
                        <input formControlName="locName" id="locName" name="locName"
                               class="app-text-box form-control" maxlength="200"
                               [ngClass]="{ 'is-invalid': submitted && fmp.locName.errors }"
                               type="text"/>
                        <div *ngIf="submitted && fmp.locName.errors" class="invalid-feedback">
                            <div *ngIf="fmp.locName.errors.required">Location Name is required</div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="input-label fw-bold mb-2">Location contact number</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm w-25 bg-light" id="countryCode" required>
                                <option value="+1">+1</option>
                                <option value="+44">+44</option>
                                <option value="+91" selected>+91</option>
                            </select>
                            <input formControlName="locContactLink" id="locContactLink" name="locContactLink"
                                   class="app-text-box form-control w-75" maxlength="200"
                                   [ngClass]="{ 'is-invalid': submitted && fmp.locContactLink.errors }"
                                   type="text"/>
                            <div *ngIf="submitted && fmp.locContactLink.errors" class="invalid-feedback">
                                <div *ngIf="fmp.locContactLink.errors.required">Location contact number is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="input-label fw-bold mb-2">Location email address</label>
                        <input formControlName="locEmailLink" id="locEmailLink" name="locEmailLink"
                               class="app-text-box form-control" maxlength="200"
                               [ngClass]="{ 'is-invalid': submitted && fmp.locEmailLink.errors }"
                               type="text"/>
                        <div *ngIf="submitted && fmp.locEmailLink.errors" class="invalid-feedback">
                            <div *ngIf="fmp.locEmailLink.errors.required">Location email address is required</div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <button class="app-button-primary mt-3" style="margin-left: auto;" (click)="onSubmitBusinessLocation()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




