<div class="p-4 edit-billing-details">
    <div class="bg-white border rounded p-3 fw-semibold fs-14 w-40">
<!--        <div class="mb-3">Edit billing details</div>-->

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="useLocation">
            <label class="form-check-label" for="useLocation">
                Use location name and address for client sales receipts
            </label>
        </div>
        <form [formGroup]="editBillingForm" class="user-profile-form" (ngSubmit)="onSubmitBillingDetails()">
            <div class="mb-3">
                <label class="form-label">Company name</label>
                <input formControlName="businessName" id="companyName" name="title"
                       class="app-text-box form-control" maxlength="200"
                       [ngClass]="{ 'is-invalid': submitted && fmp.companyName.errors }"
                       type="text"/>
                <div *ngIf="submitted && fmp.companyName.errors" class="invalid-feedback">
                    <div *ngIf="fmp.companyName.errors.required"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 mb-3">
                    <label class="form-label">Address</label>
                    <input formControlName="address" id="address" name="title"
                           class="app-text-box form-control" maxlength="200"
                           [ngClass]="{ 'is-invalid': submitted && fmp.address.errors }"
                           type="text"/>
                    <div *ngIf="submitted && fmp.address.errors" class="invalid-feedback">
                        <div *ngIf="fmp.address.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Apt./Suite etc</label>
                    <input formControlName="apt" id="apt" name="title"
                           class="app-text-box form-control" maxlength="200"
                           [ngClass]="{ 'is-invalid': submitted && fmp.apt.errors }"
                           type="text"/>
                    <div *ngIf="submitted && fmp.apt.errors" class="invalid-feedback">
                        <div *ngIf="fmp.apt.errors.required">Title is required</div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">City</label>
                <input formControlName="city" id="city" name="title"
                       class="app-text-box form-control" maxlength="200"
                       [ngClass]="{ 'is-invalid': submitted && fmp.city.errors }"
                       type="text"/>
                <div *ngIf="submitted && fmp.city.errors" class="invalid-feedback">
                    <div *ngIf="fmp.city.errors.required">Title is required</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">State</label>
                    <input formControlName="state" id="state" name="title"
                           class="app-text-box form-control" maxlength="200"
                           [ngClass]="{ 'is-invalid': submitted && fmp.state.errors }"
                           type="text"/>
                    <div *ngIf="submitted && fmp.state.errors" class="invalid-feedback">
                        <div *ngIf="fmp.state.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Postcode</label>
                    <input formControlName="postCode" id="postCode" name="title"
                           class="app-text-box form-control" maxlength="200"
                           [ngClass]="{ 'is-invalid': submitted && fmp.postCode.errors }"
                           type="text"/>
                    <div *ngIf="submitted && fmp.postCode.errors" class="invalid-feedback">
                        <div *ngIf="fmp.postCode.errors.required">Title is required</div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Invoice note</label>
                <textarea class="form-control fw-medium" rows="3" formControlName="invoiceNote"></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-light me-2">Cancel</button>
                <button class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>
