<div class="container mt-4">
    <div class="heading-section">
        <div class="d-flex justify-content-end mb-4">
            <button class="app-button-secondary me-4">Close</button>
            <button class="app-button-primary" (click)="onSubmitServiceDetails()">Save</button>
        </div>
        <div class=" section-heading-h2 fw-bold fs-2">New service


        </div>
    </div>
    <div class="details-section d-flex gap-5">
        <div class="left-section h-100 w-25 bg-white border rounded p-3">
            <!-- Main Categories -->
            <div *ngFor="let detail of details"
                 class="py-2 px-3 d-flex align-items-center justify-content-between rounded"
                 [ngClass]="{'active-details': detail.active}"
                 (click)="selectDetails(detail)">
                <div class="">{{ detail.name }}</div>
            </div>

            <hr class="my-2">

            <!-- Settings Section -->
            <div class="fw-bold text-dark px-3 py-2 fw-bold">Settings</div>
            <div *ngFor="let setting of settings"
                 class="py-2 px-3 d-flex align-items-center justify-content-between rounded"
                 [ngClass]="{'active-details': setting.active}"
                 (click)="selectDetails(setting)">
                <div>{{ setting.name }}</div>
            </div>
        </div>
        <div class="right-section w-75">
            <div class="section-heading-h3 fw-bold fs-4 ">Basic details</div>
            <form [formGroup]="serviceDetailsForm" class="user-profile-form" (ngSubmit)="onSubmitServiceDetails()">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mt-4 pb-3">
                                <div class="form-group">
                                        <label class="input-label fw-bold" for="name">Service name</label>
                                        <input formControlName="name" id="name" name="name"
                                               class="app-text-box form-control" maxlength="200"
                                               [ngClass]="{ 'is-invalid': submitted && fmp.name.errors }"
                                               type="text"/>
                                        <div *ngIf="submitted && fmp.name.errors" class="invalid-feedback">
                                            <div *ngIf="fmp.name.errors.required">Service name is required</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-12 pb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-select
                                                [title]="'Service type'"
                                                [items]="warning_1"
                                                (onValueChange)="applyPrev($event)"
                                                [selectedValue]="selectedWarning1"></app-select>
                                    </div>
                                    <div class="col-md-6">
                                        <app-select
                                                [title]="'Menu Category'"
                                                [items]="categories"
                                                (onValueChange)="selectedCategoryChange($event)"
                                                [selectedValue]="selectedCategory"></app-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pb-3">
                                <div class="form-group">
                                    <label class="input-label fw-bold" for="description">Description</label>
                                    <textarea formControlName="description" id="description" name="description"
                                              class="app-text-box app-text-area form-control" maxlength="250" rows="6"
                                              [ngClass]="{ 'is-invalid': submitted && fmp.description.errors }"
                                              type="text"></textarea>
                                    <div *ngIf="submitted && fmp.description.errors" class="invalid-feedback">
                                        <div *ngIf="fmp.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="divider mt-4"></div>
                    <div class="col-12 pb-3">
                        <div class="section-heading-h3 fw-bold mt-5 fs-4">Pricing and Duration</div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-label fw-bold" for="duration">Duration</label>
                                    <input formControlName="duration" id="duration" name="duration"
                                           class="app-text-box form-control" maxlength="200"
                                           [ngClass]="{ 'is-invalid': submitted && fmp.duration.errors }"
                                           type="text"/>
                                    <div *ngIf="submitted && fmp.duration.errors" class="invalid-feedback">
                                        <div *ngIf="fmp.duration.errors.required">Duration is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-label fw-bold" for="price">Price</label>
                                    <input formControlName="price" id="price" name="price"
                                           class="app-text-box form-control" maxlength="200"
                                           [ngClass]="{ 'is-invalid': submitted && fmp.price.errors }"
                                           type="text"/>
                                    <div *ngIf="submitted && fmp.price.errors" class="invalid-feedback">
                                        <div *ngIf="fmp.price.errors.required">Price is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex justify-content-between align-bottom pb-3 ">
                <button class="app-button-secondary ">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="25px"
                         width="25px">
                        <path fill-rule="evenodd"
                              d="M16 5C9.925 5 5 9.925 5 16s4.925 11 11 11 11-4.925 11-11S22.075 5 16 5M3 16C3 8.82 8.82 3 16 3s13 5.82 13 13-5.82 13-13 13S3 23.18 3 16m13-6a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4h-4a1 1 0 1 1 0-2h4v-4a1 1 0 0 1 1-1"
                              clip-rule="evenodd"></path>
                    </svg>
                    Add Variant
                </button>
                <a href="" class="advanced ">Advanced Options</a>
            </div>
            <div class="divider mt-4"></div>
           <!-- <div class="col-12 pb-3">
                <div class="section-heading-h3 fw-bold mt-5 fs-4">Extra Time</div>
                <div class="description">Automatically add blocked time or processing time after each appointment</div>
                <div class="row mt-3">
                    <div class="col-md-4 ">
                        <app-select
                                [title]="'Type'"
                                [items]="warning_2"
                                [selectedValue]="selectedCategory"></app-select>
                    </div>
                    <div class="col-md-4">
                        <app-select
                                [title]="'Duration'"
                                [items]="warning_2"
                                [selectedValue]="selectedCategory"></app-select>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>

