
.search-salons-page {
  .salon-list-section {
    max-height: calc(100vh - 158px);
    overflow-y: auto;
    margin-top: 10px
  }

  .map-section {
  }

  .salon-list-section {
    padding: 10px 16px;
  }

  .salon-details-section {
    padding: 8px;
  }

  .map-section {
    height: calc(100vh - 166px);
    width: 100%;
  }

}
