.text-orange {
  color: orange; /* Adjust color as needed */
}
.tick {
  width: 30px;  /* Increase size */
  height: 30px; /* Increase size */

}
.img-fluid{
  margin-left: 100px;
  width: 400px;
  height: 400px;
}