<div class="atm-mrk py-5 d-flex align-items-center flex-wrap">
    <div class="w-50 px-4">
        <h2 class="text-orange fw-bold mb-3">AUTOMATED MARKETING</h2>
        <h3 class="fw-bold mb-4">
            Stay in touch with auto campaigns and messages
        </h3>
        <div class="fs-5">
            <p>
                Target client groups with our unbeatable filtering tools to reach your
                top spenders, most loyal, lapsed clients, and more.
            </p>
            <p>
                Surprise clients on their special day with a discount, turn newcomers
                into regulars, and win back disengaged clients, all with our targeted
                smart campaigns.
            </p>

            <!-- Feature List -->
            <div class="list-unstyled">
                <div class="d-flex align-items-center mb-2">
                    <svg class="tick me-2 text-success" fill="currentColor" viewBox="0 0 32 32">
                        <path d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0"></path>
                    </svg>
                    <p class="ps-4"> Customisable message templates</p>
                </div>
                <li class="d-flex align-items-center mb-2">
                    <svg class="tick me-2 text-success" fill="currentColor" viewBox="0 0 32 32">
                        <path d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0"></path>
                    </svg>
                    <p class="ps-4"> Advanced client targeting</p>
                </li>
                <li class="d-flex align-items-center">
                    <svg class="tick me-2 text-success" fill="currentColor" viewBox="0 0 32 32">
                        <path d="M28.04 8.293a1 1 0 0 1 0 1.414l-14 14a1 1 0 0 1-1.414 0l-7-7a1 1 0 1 1 1.414-1.414l6.293 6.293L26.626 8.293a1 1 0 0 1 1.415 0"></path>
                    </svg>
                    <p class="ps-4"> Personalised per-client messages</p>
                </li>
            </div>
        </div>
    </div>
    <div class="w-50 text-center">
        <img
                [src]="imageUrl"
                alt="Maximise your salon's potential"
                class="img-fluid"
        />
    </div>
</div>
