.search-container {
  border: 20px solid #000; // Black border like your reference
  background-color: black;
}

.remove-default-icon::-webkit-calendar-picker-indicator {
  display: none; // Removes default calendar icon
}

.date-dropdown {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: white;
}

mat-calendar {
  font-size: 1.2rem; /* Increase text size */
  width: 100%;
}


.form-control {
  font-size: 0.875rem;
}

.time-dropdown .btn {
  border-radius: 20px;
}
.search{
  width: 10%;
 background-color: #fd7e14 !important; /* Bootstrap Orange */
}
.dd{
  margin-top: 300px;
  background-color: white;
}


.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding-left: 10px;
  font-size: 16px;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  max-height: 400px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-header {
  font-weight: bold;
  color: #6c757d;
  padding: 10px 15px;
}

.dropdown-item-custom {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item-custom:hover {
  background: #f8f9fa;
}

.icon-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}