<div class="position-relative support-page app-main-page">
  <div class="d-flex justify-content-between export-section bg-white align-items-center py-2 px-3">
    <app-breadcrumbs></app-breadcrumbs>
    <app-submenu></app-submenu>
  </div>
  <div class="animated animatedFadeInUp fadeInUp w-100 position-relative">
    <div class="w-100 d-flex align-items-center justify-content-center">
      <div class="dashboard-container position-relative w-100">

        <div class="app-container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading-h2 fw-medium pt-4 mb-2">Get Support</div>
              <div class="divider my-2"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <div class="app-card-container">
                <div class="app-card bg-white">
                  <div class="dash-menu">
                    <div class="menu-icon mb-3">
                      <span class="material-symbols-rounded semi-bold-icon">auto_stories</span>
                    </div>
                    <div class="menu-name">Phone:</div>
                    <div class="menu-content">800 268 8149</div>
                    <div class="menu-content pb-3">416 507 2099</div>

                    <div class="menu-name">Web:</div>
                    <div class="menu-content pb-3">https://thecanadianpress.com</div>

                    <div class="menu-name">Email:</div>
                    <div class="menu-content pb-3">support@thecanadianpress.com</div>

                  </div>
                </div>
                <ngx-ui-loader [loaderId]="'loader-1'"></ngx-ui-loader>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


