<div class="container business-locations-page">
    <!--
        <div class="d-flex align-items-center py-3">
            &lt;!&ndash; Back Button &ndash;&gt;
            <button id="button-settings-back" class="app-button-secondary rounded-pill d-flex align-items-center" type="button">
                <svg fill="currentColor" viewBox="0 0 32 32" width="20" height="20" class="me-2">
                    <path fill-rule="evenodd" d="M14.707 6.293a1 1 0 0 1 0 1.414L7.414 15H27a1 1 0 1 1 0 2H7.414l7.293 7.293a1 1 0 1-1.414 1.414l-9-9a1 1 0 0 1 0-1.414l9-9a1 1 0 0 1 1.414 0" clip-rule="evenodd"></path>
                </svg>
                <span>Back</span>
            </button>

            &lt;!&ndash; Breadcrumb &ndash;&gt;
            <div class="breadcrumb ms-3 mb-0">
                <div class="breadcrumb-item"><a href="/setup" class="text-secondary">Workspace settings</a></div>
                <div class="breadcrumb-item active text-dark">Business setup</div>
            </div>
        </div>
    -->

    <div class="row h-100 mt-4">
        <!-- Sidebar -->
        <!--
                <div class="col-md-3 p-3 bg-white shadow-sm rounded sidebar">
                    <h5 class="fw-bold">Business setup</h5>
                    <div class="left-section">
                        &lt;!&ndash; Main Categories &ndash;&gt;
                        <div *ngFor="let detail of details" class="menu-item" [ngClass]="{'active': detail.active}" (click)="selectDetails(detail)">
                            <div>{{ detail.name }}</div>
                        </div>

                      <div class="divider p-2"></div>

                        &lt;!&ndash; Settings Section &ndash;&gt;
                        <div class="fw-bold section-title pt-4">Shortcuts</div>
                        <div *ngFor="let setting of settings" class="menu-item" [ngClass]="{'active': setting.active}" (click)="selectDetails(setting)">
                            <div>{{ setting.name }}</div>
                        </div>
                    </div>
                </div>
        -->

        <!-- Main Content -->
        <div class="col-md-12 ms-3  ">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <div class="section-heading-h2">Business Locations</div>
                    <div class="para">Manage info and preferences of locations within your business. <a href="#">Learn
                        more.</a></div>
                </div>
                <div class="d-flex">
                    <!-- Options Button with Dropdown -->
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="app-button-secondary me-3"
                                        ngbDropdownToggle>
                                    Options
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>
                                        <a class="dropdown-item" href="#" >Create Share Link</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="app-button-primary " (click)="navigateToBusinessSetup()">Add</button>
                </div>

                <!--&lt;!&ndash; Modal &ndash;&gt;
                <div *ngIf="showModal" class="modal-overlay">
                    <div class="modal-container">

                        &lt;!&ndash; Background Gradient &ndash;&gt;
                        <div class="modal-background"></div>

                        &lt;!&ndash; Modal Content &ndash;&gt;
                        <div class="modal-content">
                            <div class="section-heading-h2 fw-bold">To create a link for the entire service menu,
                                publish your Fresha profile
                            </div>
                            <div class="section-heading-h2">Join the world’s largest beauty and wellness marketplace
                            </div>

                            <ul>
                                <li>✅ Get your business listed on the Fresha app</li>
                                <li>✅ Reach thousands of new clients who visit Fresha every day</li>
                                <li>✅ Free up time and get your clients self-booking online 24/7</li>
                            </ul>

                            &lt;!&ndash; CTA Button &ndash;&gt;
                            <button class="start-button">Start now</button>
                        </div>

                        &lt;!&ndash; Right-side Image &ndash;&gt;
                        <div class="modal-image">
                            <img src="assets/fresha-modal.png" alt="Fresha Modal Preview">
                        </div>
                    </div>
                </div>
-->
            </div>


            <div class="card p-3 mt-4 border rounded-3 shadow-sm location-card w-100"
                 *ngFor="let businessLocation of businessLocations">
                <div class="row h-100">
                    <div class="col-3">
                        <div class=" icon-box w-100 h-100">
                            <i class="bi bi-shop text-primary h-70 "></i>
                        </div>
                    </div>
                    <div class="col-7 px-3 ">
                        <div class="mb-2 fw-bold lh-1">{{ businessLocation?.locationBillingDetails?.businessLocName }}</div>
                        <div class="mb-4">{{ businessLocation.locationAddress.description }}</div>
                        <small class="text-muted">No reviews yet</small>
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                        <!-- Actions Button with Dropdown -->
                        <div class="row">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="app-button-secondary"
                                            ngbDropdownToggle>
                                        Action
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="viewLocation(businessLocation)">Edit</button>
                                        <button ngbDropdownItem>Delete Location</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>